# _PYTHON LIST

_ _PYTHON LIST METHODS__

Method	Description
append()	Adds an item to the end of the list
extend()	Adds items of lists and other iterables to the end of the list
insert()	Inserts an item at the specified index
remove()	Removes item present at the given index
pop()	    Returns and removes item present at the given index
clear()	    Removes all items from the list
index()	    Returns the index of the first matched item
count()	    Returns the count of the specified item in the list
sort()	    Sorts the list in ascending/descending order
reverse()	Reverses the item of the list
copy()	    Returns the shallow copy of the list

__Create a python list__

In [159]:
age = [34,2,18]
print(age)

[34, 2, 18]

__Access Elements in a list__

In [162]:
places = ['Australia','London','Malta']
print(places[2])

Malta

__Add Elements to a list :__

# __append()__

In [18]:
languages = ['english','hindi','Malayalam']
print ("original list :",languages)

languages.append('Tamil')
print ("Updated lists : ",languages)

original list : ['english', 'hindi', 'Malayalam']
Updated lists :  ['english', 'hindi', 'Malayalam', 'Tamil']

# __extend()__

In [32]:
odd_numbers = [1,3,5]
print ("odd_numbers",odd_numbers)

even_numbers = [2,4,6]
odd_numbers.extend(even_numbers)
print ( "odd and even numbers:",odd_numbers )

odd_numbers [1, 3, 5]
odd and even numbers: [1, 3, 5, 2, 4, 6]

__Change list items :__

In [43]:
fruits = ['apple','orange','blueberry']
print("fruits: ",fruits)

fruits[1] = 'banana'
print("updated fruits_list: ",fruits)

fruits:  ['apple', 'orange', 'blueberry']
updated fruits_list:  ['apple', 'banana', 'blueberry']

__Removing elements from the list__

# __remove()__

In [53]:
numbers = [22,11,33,44]
numbers.remove(22)
print("numbers",numbers)

numbers [11, 33, 44]

__remove one or more elements of a list__

# __del()__

In [67]:
names = ['vv','ambadi','manu','sumesh']
del names[1:4]
print(names)

['vv']

__python list length__

In [72]:
cars = ['Tesla','Mini Cooper','BMW']
print('Total items :',len(cars))

Total items : 3

__Iterating through a list__

In [77]:
phones = ['Redmi','Samsung','Realme']
for i in phones:
    print(i)

Redmi
Samsung
Realme

# __insert()__

In [80]:
vowels = ['a','i','o','u']
vowels.insert(1,'e')
print('Vowels: ',vowels)

Vowels:  ['a', 'e', 'i', 'o', 'u']

# __index()__

In [85]:
a = ['up','down','side','front']
b=a.index('down')
print(b)

1

In [98]:
animals = ['dog','cat']
a = animals.index('dog')
print(a)

0

# __count()__

In [112]:
negative_numbers = [-1,-2,-3,-3,-4,-1,-3]
count = negative_numbers.count(-3)
print(count)

3

# __pop()__

In [125]:
a = [1,5,8,7]
print("items in a:",a)
a = a.pop(1)
print("Removed item:",a)

items in a: [1, 5, 8, 7]
Removed item: 5

# __reverse()__

__Example_1__

In [135]:
systems = ['Windows', 'macOS', 'Linux']

for i in reversed(systems):
    print(i)

Linux
macOS
Windows

__Example_2__

In [133]:
games = ['football','cricket','volleyball','tennis']
print("list of games:",games)
games.reverse()
print("reversed list of games:",games)

list of games: ['football', 'cricket', 'volleyball', 'tennis']
reversed list of games: ['tennis', 'volleyball', 'cricket', 'football']

# __sort()__

In [140]:
cities = ["Tokyo", "London", "Washington D.C"]

cities.sort()
print(f"Dictionary order: ",cities)

cities.sort(reverse = True)
print(f"Reverse dictionary order: ",cities)

Dictionary order:  ['London', 'Tokyo', 'Washington D.C']
Reverse dictionary order:  ['Washington D.C', 'Tokyo', 'London']

# __copy()__

In [146]:
a = [1,2,3]
b = a.copy()
print(b)

[1, 2, 3]

# __clear()__

In [150]:
a = [20,30]
a.clear()
print(a)

[]