# Python Sets

__A set is a collection of unique data, meaning that elements within a set cannot be duplicated.__ \
__Set has no particular order.__

* Example_1

In [9]:
vowels = { 'a','e','i','o','u' }
print ('vowels are : ',vowels)

vowels are :  {'u', 'a', 'e', 'o', 'i'}

* Example_2

In [7]:
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

Set of mixed data types: {'Bye', 101, -2, 'Hello'}

* Example_3

In [15]:
empty_set = set()

empty_dictionary = { }

print('Data type of empty_set:', type(empty_set))

print('Data type of empty_dictionary:', type(empty_dictionary))

Data type of empty_set: <class 'set'>
Data type of empty_dictionary: <class 'dict'>

* Example_4

In [29]:
numbers = {4,4,1,2,3,6,6,}
print(numbers)

{1, 2, 3, 4, 6}

# _Iterate Over a Set in Python_

In [63]:
alphabets = {'a','b','c'}
for alphabet in alphabets:
    print (alphabet)

a
b
c

# _Python Set Operations_

# Union of Two Sets 
# | and union()

In [76]:
A = {1, 3, 5}
B = {0, 2, 4}

print('Union using :', A | B)
print('Union using union():', B.union(A))

Union using : {0, 1, 2, 3, 4, 5}
Union using union(): {0, 1, 2, 3, 4, 5}

# Set Intersection
* __common elements__
#  & and setintersection()

In [84]:
A = {1, 3, 5}
B = {1, 2, 3}

print('Intersection using &:', A & B)
print('Intersection using intersection():', A.intersection(B))

Intersection using &: {1, 3}
Intersection using intersection(): {1, 3}

# Difference between Two Sets

__The difference between two sets A and B include elements of set A that are not present on set B.__

# - and difference()

In [92]:
A = {2, 3, 5}
B = {1, 2, 6}

print('Difference using &:', A - B)
print('Difference using difference():', A.difference(B))

Difference using &: {3, 5}
Difference using difference(): {1, 6}

# Set Symmetric Difference

__The symmetric difference between two sets A and B includes all elements of A and B without the common elements.__

# ^ and symmetric_difference

In [102]:
A = {2, 3, 5}
B = {1, 2, 6}

print('using ^:', A ^ B)
print('using symmetric_difference():', A.symmetric_difference(B))

using ^: {1, 3, 5, 6}
using symmetric_difference(): {1, 3, 5, 6}

# Check if two sets are equal 
# ==

In [107]:
A = {2,4,6}
B = {6,4,2}

if A == B:
    print('Set A and Set B are equal')
else:
    print('Set A and Set B are not equal')

Set A and Set B are equal

# Set methods

# _add()_

In [3]:
numbers = {1,2,3,4,5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

# clear()

__clear()	Removes all elements from the set__

In [3]:
numbers = {1,2,3,4,5}
numbers.clear()
print(numbers)

set()

# copy()

__copy() : Returns a copy of the set__

In [1]:
numbers = {1, 2, 3, 4}
new_numbers = numbers.copy()

print(new_numbers)

{1, 2, 3, 4}

# difference()

__difference()	Returns the difference of two or more sets as a new set__

In [5]:

A = {1, 3, 5, 7, 9}
B = {2, 3, 5, 7, 11}
print(A.difference(B))

{1, 9}

# difference_update()

__difference_update()	Removes all elements of another set from this set__

In [9]:

A = {1, 3, 5, 7, 9}
B = {2, 3, 5, 7, 11}
A.difference_update(B)

print('A = ', A)

A =  {1, 9}

# discard()

__discard()	Removes an element from the set if it is a member. (Do nothing if the element is not in set__

In [13]:
numbers = {2, 3, 4, 5}
numbers.discard(3) 

print(numbers)

{2, 4, 5}

# intersection()

__intersection()	Returns the intersection of two sets as a new set__

In [23]:
A = {2, 3, 5}
B = {1, 3, 8}
print(B.intersection(A))

{3}

# intersection_update()

__intersection_update()	Updates the set with the intersection of itself and another__

In [21]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5}
A.intersection_update(B)

print('A =', A)

A = {2, 3, 4}

# isdisjoint()

__isdisjoint()	Returns True if two sets have a null intersection__

In [31]:
A = {1, 2, 3, }
B = {4, 5, 2}
print(A.isdisjoint(B))

False

# issubset()

__issubset()	Returns True if another set contains this set__

In [37]:
A = {1, 2, 9}
B = {1, 2, 3, 4, 5}

print(A.issubset(B))

False

# issuperset()

__issuperset()	Returns True if this set contains another set__

In [41]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}


print(A.issuperset(B))

# Returns False
print(B.issuperset(A))

True
False

# pop()

__pop()	Removes and returns an arbitrary set element. Raises KeyError if the set is empty__

In [45]:
A = {'a', 'b', 'c', 'd'}
removed_item = A.pop()
print(removed_item)

a

# symmetric_difference()

__symmetric_difference()	Returns the symmetric difference of two sets as a new set__

In [48]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
result = A.symmetric_difference(B)
print(result)

{'b', 'a', 'e'}

# symmetric_difference_update()

__symmetric_difference_update()	Updates a set with the symmetric difference of itself and another__

In [52]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 'e' }

A.symmetric_difference_update(B)

print(A)

{'a', 'e'}

# union()

__union()	Returns the union of sets in a new set__

In [58]:
A = {2, 3, 5}
B = {1, 3, 5}
print('A U B = ', A.union(B))

A U B =  {1, 2, 3, 5}

# update()

__update()	Updates the set with the union of itself and others__

In [60]:
A = {'a', 'b'}
B = {1, 2, 3}
A.update(B)

print(A)

{1, 'b', 2, 3, 'a'}