## Data Selection in Series

### Series as dictionary

In [3]:
import pandas as pd
data = pd.Series([0.34, 0.5, 0.25, 1.0],index=['a', 'b', 'c', 'd'])
data

a    0.34
b    0.50
c    0.25
d    1.00
dtype: float64

In [5]:
data['b']

0.5

In [7]:
'c' in data

True

In [9]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

``Series`` objects can even be modified with a dictionary-like syntax.

In [17]:
data['e'] = 1.25
data

a    0.34
b    0.50
c    0.25
d    1.00
e    1.25
dtype: float64

### Series as one-dimensional array

In [20]:
# slicing by explicit index
data['a':'c']

a    0.34
b    0.50
c    0.25
dtype: float64

In [22]:
# slicing by implicit integer index
data[0:2]

a    0.34
b    0.50
dtype: float64

In [24]:
# masking
data[(data > 0.3) & (data < 0.8)]

a    0.34
b    0.50
dtype: float64

In [26]:
# fancy indexing
data[['a', 'e']]

a    0.34
e    1.25
dtype: float64

## Indexers: loc, iloc, and ix

In [29]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [31]:
# explicit index when indexing
data[1]

'a'

In [33]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

### loc

In [36]:
data.loc[1]

'a'

In [38]:
data.loc[1:3]

1    a
3    b
dtype: object

In [40]:
data.iloc[1]

'b'

In [42]:
data.iloc[1:3]

3    b
5    c
dtype: object

## Data Selection in DataFrame

In [45]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [47]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [49]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [51]:
data.area is data['area']

True

In [53]:
data.pop is data['pop']

False

In [55]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### DataFrame as two-dimensional array

In [58]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [60]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [62]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [64]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [68]:
data.ix[:2, :'pop']

AttributeError: 'DataFrame' object has no attribute 'ix'