# What is series ?

* Pandas Series is like a column in a table.
* It is a one dimensional array holding data of any type.

In [187]:
import pandas as pd
l = [1,2,3,4]
var = pd.Series(l)
var

0    1
1    2
2    3
3    4
dtype: int64

# Labels

If nothing else is specified,the values are labeled with their index numbers.

In [8]:
print(var[0])

1

## Create Labels

In [21]:
import pandas as pd
l = [5,6,7]
myvar = pd.Series(l,index =[ "x","y","z"])
print(myvar)

x    5
y    6
z    7
dtype: int64

### Attributes and methods

#### <u>dtype<u/>
* `pandas.series.dtype` is used to return the datatype of the Series

In [40]:
import  pandas as pd
 

dat = [10, 20, 40, 80, 100]
 
s = pd.Series(dat)
 
print(s)
 
# Datatype
print("\nSeries Datatype: ", s.dtype)

0     10
1     20
2     40
3     80
4    100
dtype: int64

Series Datatype:  int64

### <u>ndim<u/>

* The  `pandas.series.ndim` is used to return the number of dimensions of the Series.

In [36]:
import  pandas as pd

data = [10, 20, 40, 80, 100]
s = pd.Series(data)
print(s)
 
# Dimensions
print("Series Dimensions: ", s.ndim)

0     10
1     20
2     40
3     80
4    100
dtype: int64
Series Dimensions:  1

### <u>size<u/>
* The  `pandas.series.size` is used to return the number of elements in the  Pandas Series

In [45]:
print(s.size)

5

### <u>name<u/>
* The  `pandas.series.name` is used to return the name of the Series in  Pandas

In [51]:
import  pandas as pd
 
data = [10, 20, 40, 80, 100]

# We have set the Series name using the name attribute
s = pd.Series(data, name ="MyNumberSeries")
print(s)

0     10
1     20
2     40
3     80
4    100
Name: MyNumberSeries, dtype: int64

### <u>hasnans<u/>
* The  `pandas.series.hasnans` attribute returns True if NaNs are in the  Pandas Series.

In [61]:
import  pandas as pd
import numpy as np
 
data = [10, 20, 40, 80, 100, np.NaN]
s = pd.Series(data)
print(s)
 
# Check whether the Series has NaNs
print("Does the Series has NaN? ", s.hasnans)

0     10.0
1     20.0
2     40.0
3     80.0
4    100.0
5      NaN
dtype: float64
Does the Series has NaN?  True

### head()
* The  `pandas.series.head()` method is used to return the first n   s of the  Pandas Series

In [98]:
import  pandas as pd
 
data = [10, 20, 40, 80, 100, 200, 300, 500]
s = pd.Series(data, index=["  A", "  B", "  C", "  D", "  E", "  F", "  G", "  H"])
 
# Display the Series
print(s)
 
# Return the first n rows. 
# The 5 is default for n
print("\n",s.head())

A     10
B     20
C     40
D     80
E    100
F    200
G    300
H    500
dtype: int64

 A     10
B     20
C     40
D     80
E    100
dtype: int64

### tail()
* The  `pandas.series.tail()` method is used to return the last n rows of the  Pandas Series

In [91]:
print(s.tail())

D     80
E    100
F    200
G    300
H    500
dtype: int64

### info()
* The  `pandas.series.info()` method is used to display the Summary of the  Pandas Series

In [93]:
print(s.info())

<class 'pandas.core.series.Series'>
Index: 8 entries,   A to   H
Series name: None
Non-Null Count  Dtype
--------------  -----
8 non-null      int64
dtypes: int64(1)
memory usage: 128.0+ bytes
None

### Similarities Between `pandas.Series` and NumPy Arrays

* #### Data Storage:

Both `pandas.Series` and NumPy arrays store data in a contiguous block of memory. This means they both provide fast operations for numerical computations.

* #### Vectorized Operations:

Just like NumPy arrays, `pandas.Series` supports vectorized operations. You can perform arithmetic operations and functions element-wise.

* #### Indexing and Slicing:

Both support indexing and slicing, allowing you to access subsets of the data easily.

### `panda.Series` vs NumPy arrays

* #### Indexing and Labels:

NumPy Array: Uses integer-based indexing.\
`pandas.Series`: Uses labels (custom or default) as index, allowing for more descriptive access.

NumPy array:

In [117]:
import numpy as np


np_array = np.array([10, 20, 30, 40])

print("NumPy Array:", np_array)
print("Element at index 2:", np_array[2])  

print("Array multiplied by 2:", np_array * 2)

NumPy Array: [10 20 30 40]
Element at index 2: 30
Array multiplied by 2: [20 40 60 80]

panda.Series

In [119]:
import pandas as pd

s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

print("Pandas Series:\n", s)
print("Element with label 'c':", s['c'])  

# Vectorized operations
print("Series multiplied by 2:\n", s * 2)

Pandas Series:
 a    10
b    20
c    30
d    40
dtype: int64
Element with label 'c': 30
Series multiplied by 2:
 a    20
b    40
c    60
d    80
dtype: int64

In [121]:

print("NumPy Array Indexing:", np_array[1])

NumPy Array Indexing: 20

### Data Alignment:

NumPy Array: Does not support automatic alignment of data.\
`pandas.Series`: Automatically aligns data based on index labels when performing operations.

### Missing Data:

NumPy Array: Does not have built-in support for missing data.\
`pandas.Series`: Provides built-in methods for handling missing data (NaN).

### Functionality:

NumPy Array: Mainly focuses on numerical computations and array operations.\
`pandas.Series`: Adds additional functionalities for data manipulation and analysis.

### ``Series`` as generalized NumPy array

In [189]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [152]:
print(data['b'])

0.5

In [154]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=[1, 3, 4, 7])
print(data)

1    0.25
3    0.50
4    0.75
7    1.00
dtype: float64

### Series as specialized dictionary

 A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure which maps typed keys to a set of typed values.

In [191]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [166]:
population['California']

38332521

Series also supports array-style operations such as slicing:

In [193]:
population['Texas':'Florida']

Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

### Constructing Series objects

In [171]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [181]:
pd.Series(3, index=[100, 200, 300])

100    3
200    3
300    3
dtype: int64

In [179]:
pd.Series({9:'a', 1:'b', 3:'c'})

9    a
1    b
3    c
dtype: object

In [185]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[1, 2])

1    b
2    a
dtype: object