# Pandas isnull() method

Syntax: `pd.isnull(dataframe)` or `dataframe.isnull()`

Return Type: DataFrame of Boolean values where <u>True</u> indicates the presence of NaN (Not a Number) values in the specified DataFrame.

In [39]:
import pandas as pd
import numpy as np
vals2 = np.array([1, None, 3, 4])
vals2

array([1, None, 3, 4], dtype=object)


* #### In pandas, which is a popular data manipulation library in Python, isnull() is a function used to identify missing or null values in your data.
* #### Missing values can occur for various reasons, such as data not being available, errors in data collection, or intentional omissions

* #### Purpose: isnull() helps you find out which values in your DataFrame or Series are missing. It returns a DataFrame or Series of the same shape, but with True where the value is missing (null) and False where the value is not missing.

* #### Usage: You apply isnull() to a DataFrame or Series. For example, if you have a DataFrame with some missing values, isnull() will show you where those missing values are located.

In [20]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan],
    'B': [4, np.nan, 6],
    'c': [5,9,8]
}
df = pd.DataFrame(data)
df.isnull()

       A      B      c
0  False  False  False
1  False   True  False
2   True  False  False

* `False` means the value is `not missing.`
*`True` means the value is `missing.`

To find how many missing values are there in each column :

In [22]:
df.isnull().sum()

A    1
B    1
c    0
dtype: int64

To find the columns that having null values :

In [24]:
df.isnull().any()

A     True
B     True
c    False
dtype: bool

In [30]:
1 + np.nan

nan

In mathematical operations, if any operand is NaN, the result is also NaN. This is because NaN is used to represent any value that is not a real number or is unknown.

``NaN`` is specifically a floating-point value

In [43]:
vals2 = np.array([1, np.nan, 3, 4]) 
vals2.dtype
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

In [45]:
import numpy as np
import pandas as pd
data = pd.Series([1, np.nan, 'hello', None])

In [49]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [51]:
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

#