# Operating on Data in Pandas

## Ufuncs: Index Preservation

 Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.

In [11]:
import pandas as pd
import numpy as np

In [15]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 20, 4))
ser

0     6
1    19
2    14
3    10
dtype: int32

In [21]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  9  2  6  3
1  8  2  4  2
2  6  4  8  6

In [23]:
np.exp(ser)

0    4.034288e+02
1    1.784823e+08
2    1.202604e+06
3    2.202647e+04
dtype: float64

In [25]:
np.sin(df * np.pi / 4)

              A             B             C         D
0  7.071068e-01  1.000000e+00 -1.000000e+00  0.707107
1 -2.449294e-16  1.000000e+00  1.224647e-16  1.000000
2 -1.000000e+00  1.224647e-16 -2.449294e-16 -1.000000