In [5]:
import pandas as pd

In [7]:
path = "C:\\Users\\winsa\\Downloads\\Sample_Vessel_Data_1.xlsx"
df = pd.read_excel(path)

In [53]:
print(df.head())

      imo    vessel    report_date_time    status  total_steaming_time  \
0  100000  Vessel_1 2022-01-01 12:00:00    AT SEA                 24.0
1  100000  Vessel_1 2022-01-01 22:06:00    AT SEA                 10.1
2  100000  Vessel_1 2022-01-02 12:00:00  DRIFTING                 13.9
3  100000  Vessel_1 2022-01-03 09:06:00  DRIFTING                  5.0
4  100000  Vessel_1 2022-01-03 12:00:00   IN PORT                  2.9

   distance    speed  total_me_fuel
0     276.0  11.5000           21.2
1     118.0  11.6832            8.7
2       3.0   0.0000            0.9
3       5.0   0.0000            2.7
4       0.0   0.0000            0.0

In [65]:
print(df.tail())

       imo vessel report_date_time status  total_steaming_time  distance  \
12164  NaN    NaN              NaT    NaN                  NaN       NaN
12165  NaN    NaN              NaT    NaN                  NaN       NaN
12166  NaN    NaN              NaT    NaN             4.800000       0.0
12167  NaN    NaN              NaT    NaN             9.464461       0.0
12168  NaN    NaN              NaT    NaN          8426.033333       0.0

       speed  total_me_fuel
12164    NaN            NaN
12165    NaN            NaN
12166    NaN            0.0
12167    NaN            NaN
12168    NaN            NaN

In [63]:
print(df.describe())

                    report_date_time  total_steaming_time      distance  \
count                          12164          9514.000000  12167.000000
mean   2023-05-25 19:48:32.022361088            10.324230     87.899437
min              2022-01-01 05:30:00             0.000000      0.000000
25%              2022-11-07 11:52:30             1.405000      0.000000
50%              2023-06-25 23:57:00             4.600000     13.000000
75%              2023-12-23 13:37:30            19.400000    145.000000
max              2024-07-07 20:18:00          8426.033333    535.000000
std                              NaN            86.786226    129.857093

              speed  total_me_fuel
count  12164.000000    12165.00000
mean       4.875968        8.46257
min        0.000000        0.00000
25%        0.000000        0.00000
50%        0.000000        1.00000
75%       11.880000        9.80000
max       30.000000       90.90000
std        6.694843       14.87765

In [61]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12169 entries, 0 to 12168
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   imo                  12164 non-null  object
 1   vessel               12164 non-null  object
 2   report_date_time     12164 non-null  datetime64[ns]
 3   status               12164 non-null  object
 4   total_steaming_time  9514 non-null   float64
 5   distance             12167 non-null  float64
 6   speed                12164 non-null  float64
 7   total_me_fuel        12165 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 760.7+ KB
None

In [75]:
vessel_5_data = df[df['vessel'] == 'Vessel_5']
print(vessel_5_data)

         imo    vessel    report_date_time    status  total_steaming_time  \
7461  500000  Vessel_5 2022-10-27 14:00:00    AT SEA                  2.0
7462  500000  Vessel_5 2022-10-28 12:00:00  DRIFTING                  3.8
7463  500000  Vessel_5 2022-11-18 12:00:00    AT SEA                 24.0
7464  500000  Vessel_5 2022-11-18 14:00:00    AT SEA                  2.0
7465  500000  Vessel_5 2022-11-19 01:00:00  DRIFTING                  0.9
...      ...       ...                 ...       ...                  ...
8588  500000  Vessel_5 2024-07-04 04:00:00    AT SEA                 17.0
8589  500000  Vessel_5 2024-07-05 05:00:00    AT SEA                 25.0
8590  500000  Vessel_5 2024-07-06 05:00:00    AT SEA                 24.0
8591  500000  Vessel_5 2024-07-07 01:00:00    AT SEA                 20.0
8592  500000  Vessel_5 2024-07-07 10:30:00  DRIFTING                  3.3

      distance     speed  total_me_fuel
7461      24.0  12.00000            1.3
7462      37.0   0.00000            3.5
7463     221.0   9.20833            8.5
7464      18.0   9.00000            0.9
7465       3.0   0.00000            0.3
...        ...       ...            ...
8588     270.0  15.88000           28.1
8589     145.0   5.80000            6.8
8590     128.0   5.33000            2.8
8591     108.0   5.40000            2.6
8592      16.0   0.00000            0.7

[1132 rows x 8 columns]

In [7]:
df.isnull().sum()

imo                       5
vessel                    5
report_date_time          5
status                    5
total_steaming_time    2655
distance                  2
speed                     5
total_me_fuel             4
dtype: int64

In [9]:
df.isnull().any()

imo                    True
vessel                 True
report_date_time       True
status                 True
total_steaming_time    True
distance               True
speed                  True
total_me_fuel          True
dtype: bool

In [23]:
df.isnull().any(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
12164     True
12165     True
12166     True
12167     True
12168     True
Length: 12169, dtype: bool

In [13]:
df.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4        0
        ..
12164    8
12165    8
12166    5
12167    6
12168    6
Length: 12169, dtype: int64

In [9]:
df.notnull()

,imo,vessel,report_date_time,status,total_steaming_time,distance,speed,total_me_fuel
0,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
12164,False,False,False,False,False,False,False,False
12165,False,False,False,False,False,False,False,False
12166,False,False,False,False,True,True,False,True
12167,False,False,False,False,True,True,False,False
12168,False,False,False,False,True,True,False,False