# QUESTION SET 2

1. What will the output be of ((500//7) % 5) ** 3?
	1
	2.91
	71.42
	0
	8

In [1]:
result = ((500//7) % 5) ** 3
print(result)

1

2. If you have a list L = [1, 2, 3], what will the output of L * 2 be?

	[2, 4, 6]
	[1, 2, 3, 1, 2, 3] 
	[1, 4, 9]
	[[1, 2, 3], [1, 2, 3]]

In [3]:
L = [1, 2, 3]
result = L * 2
print(result)

[1, 2, 3, 1, 2, 3]

3. What will the output be of the following code?
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)


1
2
3
 
[‘Raj’, 22]
[‘Simran’, 21]
[‘Rahul’, 40]

1 [‘Raj’, 22]
2 [‘Simran’, 21]
3 [‘Rahul’, 40]

‘Raj’
‘Simran’
‘Rahul’

In [11]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}

for val in D:
     print(val)

1
2
3

4. What will the ‘comprehension equivalent’ be for the following snippet of code?
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

	word for sentence in paragraph for word in sentence.split()
	[word for sentence in paragraph for word in sentence.split()]
	word for word in sentence.split() for sentence in paragraph
	[word for word in sentence.split() for sentence in paragraph]

answer: [word for sentence in paragraph for word in sentence.split()]

In [13]:
#example paragraph
paragraph = [
    "Aditi devo bhava",
    "sree bhadra balamurali"
]

# Original nested loop approach
single_word_list = []
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

print("Result using nested loops:")
print(single_word_list)

# List comprehension approach
single_word_list_comprehension = [word for sentence in paragraph for word in sentence.split()]

print("\nResult using list comprehension:")
print(single_word_list_comprehension)

# Verifying that both approaches give the same result
print("\nAre the results the same?", single_word_list == single_word_list_comprehension)

Result using nested loops:
['Aditi', 'devo', 'bhava', 'sree', 'bhadra', 'balamurali']

Result using list comprehension:
['Aditi', 'devo', 'bhava', 'sree', 'bhadra', 'balamurali']

Are the results the same? True

5. What will the output of the following code be?
def my_func(*args):
    return(sum(args))
print(my_func(1,2,3,4,5))print(my_func(6,7,8))
 

15
21
 
15.0
21.0

15
Error: Invalid number of arguments passed

Error

In [15]:
def my_func(*args):
    return(sum(args))
print(my_func(1,2,3,4,5))print(my_func(6,7,8))

SyntaxError: invalid syntax (1167853062.py, line 3)

In [17]:
def my_func(*args):
    return(sum(args))
print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

15
21

6. Which of the following commands will output the squares of all the numbers in a list L = [1, 2, 3, 4]?

	L ** 2
	map(lambda x : x ** 2, L)
	list(map(lambda x : x ** 2, L))
	map(x : x ** 2, L)

answer: list(map(lambda x : x ** 2, L))

In [19]:
L = [1, 2, 3, 4]

result = list(map(lambda x : x ** 2, L))
print(result)  # Output: [1, 4, 9, 16]

# using list comprehension
result_comprehension = [x**2 for x in L]
print(result_comprehension)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]
[1, 4, 9, 16]

## CODING QUESTIONS

**Given a number ‘n’, output its factorial using reduce().
<BR>Note: Make sure you handle the edge case of zero. As you know, 0! = 1**
<BR>
<BR>**Examples:
<BR>Input 1:
<BR>1
<BR>Output 1:
<BR>1**
<BR>
<BR>**Input 2:
<BR>3
<BR>Output 2:
<BR>6**

In [48]:
n = int(input())
result = 1

if n == 0:
    result = 1
else:
    for i in range(1, n + 1):
        result *= i

print(result)

 1

1

**You will be given a number. You have to reverse the digits of the number and print it. Don’t Use in built functions**

In [44]:
n = int(input())
reversed_num = 0

while n > 0:
    digit = n % 10
    reversed_num = reversed_num * 10 + digit
    n //= 10

print(reversed_num)

 3456

6543

**You will be given a word. You have to reverse it and print it. Don’t Use in built functions**

In [46]:
word = input()
reversed_word = ""

for i in range(len(word) - 1, -1, -1):
    reversed_word += word[i]

print(reversed_word)

 SREEBHADRA

ARDAHBEERS

<BR>Use Set
<BR>
**<BR>In a school, there are total 20 students numbered from 1 to 20. You’re given three lists named ‘C’, ‘F’, and ‘H’, representing students who play cricket, football, and hockey, respectively. Based on this information, find out and print the following: 
<BR>	Students who play all the three sports
<BR>	Students who play both cricket and football but don’t play hockey
<BR>	Students who play exactly two of the sports
<BR>	Students who don’t play any of the three sports
<BR>Format:
<BR>Input:
<BR>3 lists containing numbers (ranging from 1 to 20) representing students who play cricket, football and hockey respectively.
<BR>Output:
<BR>4 different lists containing the students according to the constraints provided in the questions.**
<BR>
<BR>Note: Make sure you sort the final lists (in an ascending order) that you get before printing them; otherwise your answer might not match the test-cases.
<BR>
<BR>Examples:
<BR>Input 1:
<BR>[2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
<BR>[2, 4, 5, 6, 7, 9, 13, 16, 20]
<BR>[1, 2, 5, 9, 10, 11, 12, 13, 15, 20]
<BR>Output 1:
<BR>[2, 5, 9, 13]
<BR>[16]
<BR>[12, 15, 16, 20]
<BR>[3, 8, 14]

<BR>Explanation:
<BR>1.Given the three sets, you can see that the students numbered '2', '5', '9', and '13' play all the three sports. 
<BR>2. The student numbered '16' plays cricket and football but doesn't play hockey. 
<BR>3. The students numbered '12' and '15' play cricket and hockey, the student numbered '16' plays cricket and football and the student numbered '20' plays football and hockey.  Hence, the students who play exactly two sports are 12, 15, 16, and 20.
<BR>4. As you can see, the students who play none of the sports are 3, 8, and 14.

In [50]:
# Input
C = set([2, 5, 9, 12, 13, 15, 16, 17, 18, 19])
F = set([2, 4, 5, 6, 7, 9, 13, 16, 20])
H = set([1, 2, 5, 9, 10, 11, 12, 13, 15, 20])

# All students
all_students = set(range(1, 21))

# 1. Students who play all three sports
all_three = C & F & H

# 2. Students who play cricket and football but not hockey
cf_not_h = (C & F) - H

# 3. Students who play exactly two sports
two_sports = (C & F | F & H | H & C) - (C & F & H)

# 4. Students who don't play any sport
no_sport = all_students - (C | F | H)

# Sort and print results
print(sorted(all_three))
print(sorted(cf_not_h))
print(sorted(two_sports))
print(sorted(no_sport))

[2, 5, 9, 13]
[16]
[12, 15, 16, 20]
[3, 8, 14]